extends layout

block content
  h1= title
  h3 Tweets related to #{title}
  ul
    each tweet in tweets
      - // Prototyping various display options.
      - // Will remove logic from view once settled.
      - var text = tweet.text
      - var user = tweet.user
      - var name = user.name
      - var username = user.screen_name
      - var retweets = tweet.retweet_count
      - var followers = user.followers_count
      - var quality = Math.round(100000 * retweets / followers)
      li Name: <b>#{name}</b>, Username: <b>#{username}</b>, Quality: <b>#{quality}</b>
      li --- #{text}
      <br>

  <br>
  a(href='/') Back to search